<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join on STIVE</title>
    <%- include("partials/headerLinks.ejs") %>
  </head>
  <body>
    <nav class="go-live-nav">
      <div class="go-live-nav-logo">
        <img src="/img/logo.svg" alt="" />
      </div>
    </nav>
    <main class="before-join-main">
      <div class="index-container join-container">
        <div class="before-join-stream-info">
          <div class="join-thumbnail">
            <img
              src="data:image/<%=stream.stream.thumbnail.contentType%>;base64,
            <%=stream.stream.thumbnail.data.toString('base64')%>"
            />
          </div>
          <div class="join-info">
            <div class="join-title">
              <p><%=stream.stream.title%></p>
            </div>
            <div class="join-by"><p>by - <%=stream.stream.by%></p></div>
            <div class="join-desc"><p><%=stream.stream.description%></p></div>
          </div>
        </div>
        <div class="join-payment-column">
          <div class="payment-heading">
            <p>Payment</p>
          </div>
          <div class="payment-amount">
            <p>Amount</p>
            <p>
              <%=stream.stream.amount%><span class="payment-currency">Rs</span>
            </p>
          </div>
          <form style="margin-bottom: 2rem">
            <script
              src="<%=stream.stream.src%>"
              data-payment_button_id="<%=stream.stream.paymentId%>"
              async
            ></script>
          </form>
          <button
            type="button"
            onclick="window.history.back();"
            class="btn btn-small btn-secondary"
          >
            Discard
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
